.memTasks{
    width: 95vw;
    margin-left: 2vw;
    margin-top: 6vh;
    border-radius: 15px;
    background-color: #2E2E2E;
    display: flex;
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        .name{
            margin-top: 4vh;
            text-align: center;
            font-size: 30px;
        }
        .middle{
            margin-top: 10vh;
            display: flex;
            flex-direction: column;
            gap: 2vh;
            width: 12vw;
            .mid{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .round{
                    position: relative;
                    background-color: #F49C06;
                    width: 30px;
                    height: 30px;
                    right: -5px;
                    z-index: 1;
                    border-radius: 50%;
                }
                .round2{
                    position: relative;
                    background-color: #3D3D3D;
                    width: 30px;
                    height: 30px;
                    right: -5px;
                    z-index: 1;
                    border-radius: 50%;
                }
                .number{
                    position: absolute;
                    top: 2.5px;
                    color: white;
                    left: 10px;
                }
            }
            .today{
                color:#F49C06;
            }
        }
        .tags{
            width: 15vw;
            .tagName{
                font-size: 24px;
            }
            .tagTags{
                display: flex;
                flex-wrap: wrap;
                p{
                    padding: 5px 15px;
                    background-color: #3d3d3d;
                    margin-right: 10px;
                    margin-bottom: 0px;
                    border-radius: 5px;
                }
                .priority{
                    color: #F49C06;
                }
                .low{
                    color:#F49C06;
                }
                .improve{
                    color: #F49C06;
                }
            }
        }
        .daily{
            width: 15vw;
            margin-top: 7vh;
            background-color: #3D3D3D;
            border-radius: 5px;
            padding: 15px;
            .dname{
                color: #716F6D;
            }
            .daTime{
                font-size: 14px;
                display: flex;
                justify-content: space-between;
                .redround{
                    width: 18px;
                    height: 18px;
                    background-color: #fc5f5f;
                    border-radius: 50%;
                    position: relative;
                    span{
                        position: absolute;
                        font-size: 12px;
                        left: 7px;
                    }
                }
            }
        }
        .help{
            display: flex;
            margin-top: 5vh;
            width: 12vw;
            gap: 1vw;
            justify-content: center;
            align-items: center;
            .greyround{
                width: 20px;
                height: 20px;
                background-color: #3d3d3d;
                border-radius: 50%;
                position: relative;
                span{
                    position: absolute;
                    left: 7px;
                    top: 1px;
                    color: #2E2E2E;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
        }
    }
    .right{
        flex: 4;
        display: flex;
        border-radius: 0px 15px 15px 0px;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20vh;
        background-color: #1A1A1A;
        .rightTop{
            display: flex;
            justify-content: space-between;
            margin-top: 5vh;
            width: 70vw;
            .icons{
                display: flex;
                gap: 1vw;
            }
        }
        .status{
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 4vh;
            gap: 5vw;
            width: 50vw;
            .todo{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .toname{
                    text-align: center;
                    border-radius: 16px;
                    padding-left: 0px;
                }
                .improve{
                    float: left;
                    color: #F49C06;
                }
                .priority{
                    float: left;
                    color: #F49C06;
                }
                .low{
                    float: left;
                    color: #F49C06;
                }
                p{
                    background-color: #252525;
                    border-radius: 16px;
                    padding: 10px;
                    width: 18vw;
                    padding-left: 16px;
                }
            }
            .progress{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .proname{
                    text-align: center;
                    border-radius: 16px;
                    padding-left: 0px;
                }
                .improve{
                    float: left;
                    color: #F49C06;
                }
                .priority{
                    float: left;
                    color: #F49C06;
                }
                .low{
                    float: left;
                    color: #F49C06;
                }
                p{
                    background-color: #252525;
                    border-radius: 16px;
                    padding: 10px;
                    width: 18vw;
                    padding-left: 16px;
                }
            }
            .done{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .doname{
                    text-align: center;
                    border-radius: 16px;
                    padding-left: 0px;
                }
                .improve{
                    float: left;
                    color: #F49C06;
                }
                .priority{
                    float: left;
                    color: #F49C06;
                }
                .low{
                    float: left;
                    color: #F49C06;
                }
                p{
                    background-color: #252525;
                    border-radius: 16px;
                    padding: 10px;
                    width: 18vw;
                    padding-left: 16px;
                }
            }
        }
    }
}