.leave{
    background-color: #1A1A1A;
    width: 95vw;
    margin-left: 2vw;
    margin-top: 6vh;
    border-radius: 15px;
    display: flex;
    margin-bottom: 30vh;
    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        .leftroute{
            margin-top: 10vh;
            .active{
                color: #F49C06;
            }
        }
    }
    .right{
        flex:4;
        background-color: #252525;
        border-radius:0px 15px 15px 0px;
        display: flex;
        justify-content: center;
        .rightbox{
            position: relative;
            width: 70vw;
            margin-top: 8vh;
            border-radius: 10px;
            margin-bottom: 8vh;
            background-color: #212121;
            .rightname{
                font-size: 24px;
                font-weight: bold;
                margin-left: 4vw;
                margin-top: 5vh;
            }
            .request{
                display: flex;
                .requestleft{
                    flex: 1;
                    .leavetype{
                        margin-left: 4vw;
                        margin-bottom: 2vh;
                        .leavedrop{
                            padding-left: 1vw;
                            font-family: "poppins";
                            margin-left: 1vw;
                            margin-top: 2vh;
                            width: 18vw;
                            height: 5vh;
                            outline: none;
                            border: none;
                            border-radius: 7.5px;
                            background-color: #252525;
                            color: #F49C06;
                        }
                    }
                    .fromdate{
                        margin-left: 4vw;
                        margin-bottom: 2vh;
                        #fromDate{
                            margin-left: 1vw;
                            margin-top: 2vh;
                            padding-left: 1vw;
                            padding-right: 1vw;
                            width: 16vw;
                            font-family: "poppins";
                            height: 5vh;
                            outline: none;
                            border: none;
                            border-radius: 7.5px;
                            background-color: #252525;
                            color: #F49C06;
                        }
                    }
                    .todate{
                        margin-left: 4vw;
                        margin-bottom: 2vh;
                        #toDate{
                            margin-left: 1vw;
                            margin-top: 2vh;
                            padding-left: 1vw;
                            padding-right: 1vw;
                            width: 16vw;
                            font-family: "poppins";
                            height: 5vh;
                            outline: none;
                            border: none;
                            border-radius: 7.5px;
                            background-color: #252525;
                            color: #F49C06;
                        }
                    }
                    .about{
                        margin-left: 4vw;
                        .aboutarea{
                            margin-top: 2vh;
                            margin-left: 1vw;
                            height: 24vh;
                            font-family: "poppins";
                            padding-left: 1vw;
                            padding-right: 1vw;
                            width: 16vw;
                            border-radius: 7.5px;
                            outline: none;
                            border: none;
                            color: #F49C06;
                            background-color: #252525;
                        }
                    }
                }
                .requestright{
                    flex: 1;
                    position: relative;
                    border: 1px solid grey;
                    margin-right: 10vw;
                    border-radius: 10px;
                    padding-left: 2vw;
                    padding-top: 4vh;

                    .total{
                        position: absolute;
                        top: 28vw;
                        display: flex;
                        gap: 1vw;
                    }
                }  
            }
            .requestbtn{
                float: right;
                margin-right: 10vw;
                margin-top: 4vh;
                margin-bottom: 4vh;
                button{
                    padding: 10px 12px;
                    background-color: #F49C06;
                    color: white;
                    font-family: "poppins";
                    border-radius: 10px;
                    border: none;
                    outline: none;

                }
            }
        }
    }
}